<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>kiner</title>
	<style>
		
		div{
			background: orange;
		}

	</style>
</head>
<body>

	<ul class="list">
		<li data-value="1" class="item">列表项1</li>
		<li data-value="2" class="item">列表项2</li>
		<li data-value="3" class="item">列表项3</li>
		<li data-value="4" class="item">列表项4</li>
		<li data-value="5" class="item">列表项5</li>
		<li data-value="6" class="item">列表项6</li>
		<li data-value="7" class="item">列表项7</li>
		<li data-value="8" class="item">列表项8</li>
		<li data-value="9" class="item">列表项9</li>
		<li data-value="10" class="item">列表项10</li>
	</ul>

</body>
</html>