@charset "UTF-8";

html {
    font-size : 20px;
}
@media only screen and (min-width: 401px){
    html {
        font-size: 25px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 26.75px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 30px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 35px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 40px !important;
    }
}
html, body {
    padding: 0;
    margin: 0;
    background: #fffeea;
    height: 100%;
}

p,li,b,span,div,strong,h1,h2,h3,h4,h5,h6,a,ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a{
    color: #0088ff;
}


.input-text{
    font-size: .6rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-image: url(../imgs/input_bg.png);
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 100% auto;
    border: none;
    outline: none;
    color: #533024
}
.button{
    background-image: url(../imgs/btn_bg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: #533024;
    font-size: .7rem;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}

.button:active,.button.active{

    -webkit-transform: scale(.95);
    -moz-transform: scale(.95);
    -ms-transform: scale(.95);
    -o-transform: scale(.95);
    transform: scale(.95);

}

i.redbag{
    width: .9rem;
    height: 1rem;
    display: inline-block;
    background-image: url("../imgs/redbag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 .1rem;
    vertical-align: middle;
}


.page-content{
    width: 100%;
    background: #fffeea;
    overflow-x: hidden;
}

.lottery-area{
    width: 100%;
    background-image: url(../imgs/main_bg.png);
    background-color: #f7da3d;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

.introduce{
    width: 4rem;
    height: 1.2rem;
    font-size: .6rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.2rem;
    background-image: url(../imgs/introduce.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 1rem;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;

}
.introduce:active,.introduce.active,.introduce:hover{
    -webkit-transform: perspective(200px) rotateY(20deg) translate(.5rem);
    transform: perspective(200px) rotateY(20deg) translate(.5rem);
}


.lotteryBox{
    overflow: hidden;
    padding-bottom: 2rem;
    background-color: #f7da3d;
}
.lotteryBox .box {
    width: 14rem;
    height: 14rem;
    position: relative;
    margin: 0 auto;
}

.lotteryBox .box .outer {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    -webkit-transform: rotate(0deg);
}

.lotteryBox .box .outer img{
    width: 100%;
}

.lotteryBox .box .inner{
    position: relative;
    width: 5rem;
    height: 5rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 2;
    background-image: url(../imgs/lotteryBtn.png);
    background-size: auto 5rem;
    background-repeat: no-repeat;
}
.lotteryBox .box .inner.start:active{

    -webkit-transform: translate(-50%, -50%) scale(.95);
    -moz-transform: translate(-50%, -50%) scale(.95);
    -ms-transform: translate(-50%, -50%) scale(.95);
    -o-transform: translate(-50%, -50%) scale(.95);
    transform: translate(-50%, -50%) scale(.95);
}

.lotteryBox .box .inner.start{
    background-position: 0 0;
}
.lotteryBox .box .inner.no-start{
    background-position: -5rem 0;
}
.lotteryBox .box .inner.completed{
    background-position: -10rem 0;
}


.main-title{
    width: 80%;
    margin: auto;

}

.main-title img{
    width: 100%;
    height: auto;
    margin-top: 1rem;
}

.input-area{
    margin: .5rem auto;
    position: relative;
    z-index: 2;
}
.input-area .input-box{
    width: 90%;
    position: relative;
    margin: .5rem auto;
}
.input-area .input-box .input-text{
    width: 80%;
    height: 2rem;
    line-height: 2rem;
    background-size: 100% 2rem;
}

.input-area .input-box .confirm-btn{
    width: 6rem;
    height: 2.1rem;
    padding: 0 .5rem;
    line-height: 2.1rem;
    position: absolute;
    right: 0;
    top: 0;
    background-size: 7rem 2.1rem;
}

.brand-area{
    width: 100%;
    background: #fffeea;
    position: relative;
    margin-bottom: 2rem;
}
.brand-area::before{
    content: "";
    display: block;
    width: 100%;
    height: 4rem;
    background-image: url("../imgs/page_footer.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: relative;
    top: -1.2rem;
}
/*.brand-area img{*/
    /*width: 100%;*/
    /*margin-top: -.5rem;*/
/*}*/
.brand-area .brand-title{

    width: 90%;
    height: 2rem;
    background-image: url("../imgs/brand.png");
    background-repeat: no-repeat;
    background-size: auto 6.5rem;
    margin: .5rem auto;
}
.brand-area .brand-introduce{
    width: 90%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: #FFFFFF;
    background: #32c1d4;
    font-size: .7rem;
    margin: .5rem auto;
    border-radius: 2px;
}
.brand-area .safe{
    color: #666666;
    font-size: .65rem;
    margin: .5rem auto;
    height: 1rem;
    line-height: 1rem;
    text-align: center;
    position: relative;
}
.brand-area .safe::before{
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-image: url("../imgs/brand.png");
    background-size: auto 9.5rem;
    background-position-y: 6.5rem;
    background-position-x: -.1rem;
    position: relative;
    top: .3rem;
    left: -.5rem;

}

.brand-area .product{
    width: 90%;
    height: 15rem;
    margin: 0 auto;
}
.brand-area .product li{
    width: 42%;
    height: 6rem;
    margin: .5rem;
    color: #666666;
    float: left;
    text-align: center;
    padding: .5rem 0;
}
.brand-area .product li:active{

    background: #f9f7e0;
    border-radius: 5px;

}
.brand-area .product li .desc{
    font-size: .7rem;
    text-align: center;
    display: block;
    width: 100%;
    height: 1rem;
    line-height: 1rem;
}


.brand-area .icon{
    width: 5rem;
    height: 5rem;
    display: inline-block;
    background-image: url("../imgs/brand.png");
    background-repeat: no-repeat;
    background-size: 20rem auto;
}
.brand-area .icon.icon_1{
    background-position: 0 -3.6rem;
}
.brand-area .icon.icon_2{
    background-position: -5.05rem -3.6rem;
}
.brand-area .icon.icon_3{
    background-position: -10rem -3.6rem;
}
.brand-area .icon.icon_4{
    background-position: -15.2rem -3.6rem;
}

.mask{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
    z-index: 999;
}
.mask.unVisibility{
    background: rgba(0,0,0,.95);
}

.tip-dialog{
    position: fixed;
    width: 85%;
    height: 17rem;
    padding: 5%;
    display: none;
    background-image: url(../imgs/dialog_bg_white.png);
    background-repeat: no-repeat;
    background-size: 100% 18rem;
    z-index: 1000;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);

}
.tip-dialog .tip_title{
    background-image: url("../imgs/tip_title_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 80%;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    color: #533024;
    font-weight: bolder;
    font-size: .8rem;
    margin: 0 auto;
}
.tip-dialog .content{

    color: #533024;
    font-size: .6rem;
    overflow-y: auto;

}
.tip-dialog .content .item{
    margin-top: .2rem;
}
.tip-dialog .content p{
    line-height: 1.5;

}

/*.tip-dialog .content::-webkit-scrollbar{*/
    /*background-color: rgba(0,0,0,.4);*/
    /*width: 5px;*/
    /*border-radius: 5px;*/

/*}*/
/*.tip-dialog .content::-webkit-scrollbar-thumb{*/
    /*background-color: #533024;*/
    /*width: 5px;*/
    /*border-radius: 2.5px;*/
/*}*/


.input-dialog{
    position: fixed;
    width: 80%;
    height: 13rem;
    padding: 5%;
    display: none;
    background-image: url(../imgs/dialog_bg_yellow.png);
    background-repeat: no-repeat;
    background-size: 15rem 13rem;
    z-index: 1000;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.input-dialog.newUser{
    height: 11.5rem;
    background-size: 100% 13rem;
    display: none;
}
.input-dialog.oldUser{
    height: 9rem;
    background-size: 100% 9rem;

}
.input-dialog .tip{
    font-size: .6rem;
    color: #533024;
}
.input-dialog .content{
    margin-top: 1rem;
    width: 100%;

}
.input-dialog .input-code{
    position: relative;
    margin-bottom: .5rem;
}
.input-dialog .content .input-text{
    width: 96%;
    height: 2rem;
    padding-right: 0;
    padding-left: 4%;
    background-size: 100% 2rem;
}
.input-dialog .content .getCode{
    position: absolute;
    right: 1rem;
    top: .8rem;
    color: #aaaaaa;
    font-size: .6rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

}
.input-dialog .content .getCode.retry{
    color: #0088ff;
}
.input-dialog .submit{
    margin: .5rem auto;
    height: 2.4rem;
    line-height: 2.4rem;
    background-size: 100% 2.4rem;
}
.input-dialog .agreement{
    position: absolute;
    bottom: 2rem;
}
.input-dialog .agreement a{
    color: #0088ff;
}

.recharge{
    width: 100%;
    height: 3rem;
    background-image: url("../imgs/tip_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 3rem;
    font-size: .6rem;
    line-height: 2.5rem;
    text-align: center;
    color: #533024;
    margin: .5rem auto 0;
    position: relative;
    z-index: 2;
}

.recharge a{
    display: block;
    margin: -1.5rem auto;
    color: #0088ff;
}

.award-show{
    padding-bottom: 1rem;
}

.award-show .award{
    width: 10rem;
    height: 5.8rem;
    background-image: url("../imgs/award.png");
    background-repeat: no-repeat;
    background-size: 10rem 18rem;
    margin: .5rem auto;
}

.award-show.redbag .award{
    background-position-y: -14.1rem;
    height: 4rem;
    margin: 1rem auto;
}

.award-show .name{
    color: #533024;
    font-size: .6rem;
    text-align: center;
}
.award-show .name .my-award{
    color: #ca4324;
}
.award-show .confirm-btn,#fourthBtn{
    width: 100%;
    height: 2.5rem;
    padding: 0 .5rem;
    line-height: 2.5rem;
    background-size: 85% 2.5rem;
    margin: 1rem auto 0;
    display: block;
    position: relative;
    z-index: 2;
}
.award-show .share{
    color: #533024;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.award-show .share p{
    font-size: .6rem;
    margin-bottom: .1rem;
}
.award-show .share p b{
    color: #ca4324;
}

.award-show.redbag .tip{
    color: #ca4324;
    line-height: 1.5;
    font-size: .6rem;
    text-align: center;
    margin-top: 1.2rem;
}
.award-show.redbag .tip p.strong{
    font-size: .8rem;
    font-weight: bolder;
}
.award-show.redbag .confirm-btn{
    margin: 0 auto;
    z-index: 2;
    position: relative;
}

.dialog i.icon{
    display: block;
    margin: 3rem auto 2rem;
    background-image: url("../imgs/award.png");
    background-repeat: no-repeat;
}

.dialog i.icon.phone{
    width: 8rem;
    height: 4.5rem;
    background-size: 8rem auto;
}
.dialog i.icon.huafei{
    width: 8rem;
    height: 3.2rem;
    background-position-y: -4.5rem;
    background-size: 8rem auto;
}
.dialog i.icon.liuliang{
    width: 8rem;
    height: 3.2rem;
    background-position-y: -7.75rem;
    background-size: 8rem auto;
}

.award-dialog{
    position: fixed;
    width: 85%;
    height: 13rem;
    padding: .5rem;
    display: none;
    background-image: url(../imgs/result_panel.png);
    background-repeat: no-repeat;
    background-size: 100% 14rem;
    z-index: 1000;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.award-dialog .name{
    color: #ca4324;
    font-size: .8rem;
    text-align: center;
    margin-top: -1rem;
}

.award-dialog .info{
    width: 14.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: .6rem;
    text-align: center;
    color: #533024;
    position: absolute;
    bottom: -.8rem;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.award-dialog .info .box{
    line-height: 1.5;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.award-dialog .info .licai{
    margin-top: .5rem;
}


.preloadTip{
    position: fixed;
    width: 90%;
    height: 2rem;
    bottom: 2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1000;
}

/*动画*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(50rem) rotateY(-10deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(-10deg) translate(-50%,-50%)
    }

    70% {
        -webkit-transform: perspective(50rem) rotateY(10deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(10deg) translate(-50%,-50%)
    }

    100% {
        -webkit-transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        opacity: 1
    }
}

@keyframes flipInY {
    0% {
        -webkit-transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        -ms-transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        opacity: 0
    }

    40% {
        -webkit-transform: perspective(50rem) rotateY(-10deg) translate(-50%,-50%);
        -ms-transform: perspective(50rem) rotateY(-10deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(-10deg) translate(-50%,-50%)
    }

    70% {
        -webkit-transform: perspective(50rem) rotateY(10deg) translate(-50%,-50%);
        -ms-transform: perspective(50rem) rotateY(10deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(10deg) translate(-50%,-50%)
    }

    100% {
        -webkit-transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        -ms-transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        opacity: 1
    }
}

.flipInY {
    -webkit-backface-visibility: visible!important;
    -ms-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY
}


@-webkit-keyframes flipOutY {
    0% {
        -webkit-transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        opacity: 1
    }

    100% {
        -webkit-transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        opacity: 0
    }
}

@keyframes flipOutY {
    0% {
        -webkit-transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        -ms-transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(0deg) translate(-50%,-50%);
        opacity: 1
    }

    100% {
        -webkit-transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        -ms-transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        transform: perspective(50rem) rotateY(90deg) translate(-50%,-50%);
        opacity: 0
    }
}

.flipOutY {
    -webkit-backface-visibility: visible!important;
    -ms-backface-visibility: visible!important;
    backface-visibility: visible!important;
    -webkit-animation-name: flipOutY;
    animation-name: flipOutY
}


@-webkit-keyframes fadeInDown {

    0% {
        opacity: 0;
        -webkit-transform: translate(-50%,-100%);
        -ms-transform: translate(-50%,-100%);
        transform: translate(-50%,-100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate(-50%,-100%);
        -ms-transform: translate(-50%,-100%);
        transform: translate(-50%,-100%)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%)
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}
